@charset "UTF-8";
/* Stencil v1.0 */

@font-face {
    font-family: 'Antenna';
	font-weight: regular;
    src: url("stencil/fonts/Antenna-Regular.otf") format("opentype");
}

@font-face {
    font-family: 'Antenna';
	font-weight: bold;
    src: url("stencil/fonts/Antenna-Bold.otf") format("opentype");
}

@font-face {
    font-family: 'Antenna';
	font-weight: medium;
    src: url("stencil/fonts/Antenna-Medium.otf") format("opentype");
}

@font-face {
    font-family: 'Antenna';
	font-weight: light;
    src: url("stencil/fonts/Antenna-Light.otf") format("opentype");
}

@font-face {
    font-family: 'Srisakdi';
	font-weight: regular;
    src: url("stencil/fonts/Srisakdi/Srisakdi-Regular.ttf") format("truetype");
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0;
  background-color: #E4E4E4;
  font: 13px "Srisakdi", "Antenna", "Helvetica Neue", Arial, sans-serif;
}

hr {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

button, .accordion-container .accordion-trigger, .pagination li button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button, .accordion-container .accordion-trigger, .pagination li button {
  overflow: visible; }

button, .accordion-container .accordion-trigger, .pagination li button, select {
  text-transform: none; }

button, .accordion-container .accordion-trigger, .pagination li button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], .accordion-container [disabled].accordion-trigger, .pagination li button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner, .accordion-container .accordion-trigger::-moz-focus-inner, .pagination li button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"], input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  opacity: 0.7;}

input[type="checkbox"]:hover, input[type="radio"]:hover {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  opacity: 1;}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-spacing: 0; 
}

td, th {
  padding: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

input, button, .accordion-container .accordion-trigger, .pagination li button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

/* Color Primitives */
/* Spacing */
.marginCancelBtn {
  margin: -1% 0 0 0%;
}
.margin-top, hr, .timeline-container, .tags, footer {
  margin-top: 16px; }

.no-margin-top {
  margin-top: 0 !important; }

.margin-top-smallest {
  margin-top: 2px; }

.margin-top-smaller, .date-card .card-title {
  margin-top: 4px; }

.margin-top-small, .form-help, .form-error {
  margin-top: 8px; }

.margin-top-large, .pagination {
  margin-top: 24px; }

.margin-top-larger {
  margin-top: 32px; }

.margin-top-largest {
  margin-top: 64px; }

.margin-right, nav ul li, .overview .card, .overview .date-card {
  margin-right: 16px; }

.no-margin-right, nav ul li:last-child, .filters .col-12, .filters .col-3 {
  margin-right: 0 !important; }

.margin-right-smallest {
  margin-right: 2px; }

.margin-right-smaller {
  margin-right: 4px; }

.margin-right-small {
  margin-right: 8px; }

.margin-right-large {
  margin-right: 24px; }

.margin-right-larger {
  margin-right: 32px; }

.margin-right-largest {
  margin-right: 64px; }

.margin-bottom, .grid, .overview, .actions, fieldset, legend, .button-group, dl, hr, .card, .date-card, .alert, .snackbar, .flat-list li, nav ul li, .tabs-container .tabs li, .tags li, footer, .overview .card .title, .overview .date-card .title, .actions .item .title, .actions .item .desc {
  margin-bottom: 16px; }

.no-margin-bottom, nav ul, nav ul li, .tabs-container .tabs {
  margin-bottom: 0 !important; }

.margin-bottom-smallest {
  margin-bottom: 2px; }

.margin-bottom-smaller {
  margin-bottom: 4px; }

.margin-bottom-small, label, input[type="checkbox"], input[type="radio"], .form-help, .form-error, .breadcrumbs {
  margin-bottom: 8px; 
}
.margin-bottom-10 {
  margin-bottom: 10px; 
}
.margin-bottom-large, .page-header {
  margin-bottom: 24px; }

.margin-bottom-larger {
  margin-bottom: 32px; }

.margin-bottom-largest {
  margin-bottom: 64px; }

.margin-left, .dialog .dialog-footer button, .dialog .dialog-footer .accordion-container .accordion-trigger, .accordion-container .dialog .dialog-footer .accordion-trigger, .brand-app .app {
  margin-left: 16px; }

.no-margin-left, .filters .col-3 {
  margin-left: 0 !important; }

.margin-left-smallest {
  margin-left: 2px; }

.margin-left-smaller {
  margin-left: 4px; }

.margin-left-small, .media .media-right, .media-card .media-right, .timeline-container .timeline-event .media-right, .alert .media-right, .snackbar .media-right {
  margin-left: 8px; 
}
.margin-left-large {
  margin-left: 24px; }

.margin-left-larger {
  margin-left: 32px; }

.margin-left-largest {
  margin-left: 64px; }

.margin-pre {
  margin-top: 16px;
  margin-left: 16px; }

.margin-pre-smallest {
  margin-top: 2px;
  margin-left: 2px; }

.margin-pre-smaller {
  margin-top: 4px;
  margin-left: 4px; }

.margin-pre-small {
  margin-top: 8px;
  margin-left: 8px; }

.margin-pre-large {
  margin-top: 24px;
  margin-left: 24px; }

.margin-pre-larger {
  margin-top: 32px;
  margin-left: 32px; }

.margin-pre-largest {
  margin-top: 64px;
  margin-left: 64px; }

.margin-post {
  margin-right: 16px;
  margin-bottom: 16px; }

.margin-post-smallest {
  margin-right: 2px;
  margin-bottom: 2px; }

.margin-post-smaller {
  margin-right: 4px;
  margin-bottom: 4px; }

.margin-post-small, .tags li {
  margin-right: 8px;
  margin-bottom: 8px; }

.margin-post-large {
  margin-right: 24px;
  margin-bottom: 24px; }

.margin-post-larger {
  margin-right: 32px;
  margin-bottom: 32px; }

.margin-post-largest {
  margin-right: 64px;
  margin-bottom: 64px; }

.margin-around {
  margin: 16px; }

.margin-around-smallest {
  margin: 2px; }

.margin-around-smaller {
  margin: 4px; }

.margin-around-small {
  margin: 8px; }

.margin-around-large {
  margin: 24px; }

.margin-around-larger {
  margin: 32px; }

.margin-around-largest {
  margin: 64px; }

.margin-sides {
  margin-left: 16px;
  margin-right: 16px; }

.margin-sides-smallest {
  margin-left: 2px;
  margin-right: 2px; }

.margin-sides-smaller {
  margin-left: 4px;
  margin-right: 4px; }

.margin-sides-small, nav ul li a .icon {
  margin-left: 8px;
  margin-right: 8px; }

.margin-sides-large {
  margin-left: 24px;
  margin-right: 24px; }

.margin-sides-larger {
  margin-left: 32px;
  margin-right: 32px; }

.margin-sides-largest {
  margin-left: 64px;
  margin-right: 64px; }
.less_margin-dfa {
  margin-bottom: -30px;
}
.padding-top {
  padding-top: 16px; }
  .display-block {
    display: inline-block;
  }

.no-padding-top {
  padding-top: 0 !important; }

.paddingTopSmallPercent {
  padding-top: 2.3%;
}
.padding-top-smallest {
  padding-top: 2px; }

.padding-top-smaller {
  padding-top: 4px; }

.padding-top-small {
  padding-top: 8px; }

.padding-top-large {
  padding-top: 24px; }

.padding-top-larger {
  padding-top: 32px; }

.padding-top-largest {
  padding-top: 64px; }

.padding-right, .alert .media-left, .snackbar .media-left, .brand-app .brand, .filters .col-3 {
  padding-right: 16px; }

.no-padding-right {
  padding-right: 0 !important; }

.padding-right-smallest {
  padding-right: 2px; }

.padding-right-smaller {
  padding-right: 4px; }

.padding-right-small {
  padding-right: 8px; }

.padding-right-large {
  padding-right: 24px; }

.padding-right-larger {
  padding-right: 32px; }

.padding-right-largest {
  padding-right: 64px; }

.padding-bottom, .with-separator li {
  padding-bottom: 16px; }

.no-padding-bottom {
  padding-bottom: 0 !important; }

.padding-bottom-smallest {
  padding-bottom: 2px; }

.padding-bottom-smaller {
  padding-bottom: 4px; }

.padding-bottom-10 {
    padding-bottom: 10px; 
}
.padding-bottom-small {
  padding-bottom: 8px; }

.padding-bottom-large, .with-separator-large li {
  padding-bottom: 24px; }

.padding-bottom-larger {
  padding-bottom: 32px; }

.padding-bottom-largest {
  padding-bottom: 64px; }

.padding-left, .alert .media-right, .snackbar .media-right {
  padding-left: 16px; }

.no-padding-left {
  padding-left: 0 !important;
cursor: default !important; }

.padding-left-smallest {
  padding-left: 2px; }

.padding-left-smaller {
  padding-left: 4px; }

.padding-left-small, .alert .media-left, .snackbar .media-left {
  padding-left: 8px; 
}
.paddingLeft-10 {
  padding-left: 10px; 
}
.padding-left-large {
  padding-left: 24px; }

.padding-left-larger {
  padding-left: 32px; }

.padding-left-largest {
  padding-left: 64px; }

.padding-pre {
  padding-top: 16px;
  padding-left: 16px; }

.padding-pre-smallest {
  padding-top: 2px;
  padding-left: 2px; }

.padding-pre-smaller {
  padding-top: 4px;
  padding-left: 4px; }

.padding-pre-small {
  padding-top: 8px;
  padding-left: 8px; }

.padding-pre-large {
  padding-top: 24px;
  padding-left: 24px; }

.padding-pre-larger {
  padding-top: 32px;
  padding-left: 32px; }

.padding-pre-largest {
  padding-top: 64px;
  padding-left: 64px; }

.padding-post {
  padding-right: 16px;
  padding-bottom: 16px; }

.padding-post-smallest {
  padding-right: 2px;
  padding-bottom: 2px; }

.padding-post-smaller {
  padding-right: 4px;
  padding-bottom: 4px; }

.padding-post-small {
  padding-right: 8px;
  padding-bottom: 8px; }

.padding-post-large {
  padding-right: 24px;
  padding-bottom: 24px; }

.padding-post-larger {
  padding-right: 32px;
  padding-bottom: 32px; }

.padding-post-largest {
  padding-right: 64px;
  padding-bottom: 64px; }

.paddingLeft-2 {
  padding-left: 2px;
}
.padding-around, .module .module-body, .modal .module-body, .modal .modal-body, .module .dialog .dialog-body, .dialog .module .dialog-body, .modal .dialog .dialog-body, .dialog .modal .dialog-body, .module .module-footer, .modal .module-footer, .modal .modal-footer, .card .card-body, .date-card .card-body, .tabs-container .tabs-content, .accordion-container .accordion-target, .well, .overview .card, .overview .date-card, .actions .item, header {
  padding: 16px; }

.padding-around-smallest, .date-card .month {
  padding: 2px; }

.padding-around-smaller {
  padding: 4px; }

.padding-around-small, input[type="text"], textarea, select, .alert, .snackbar {
  padding: 8px; }

.padding-around-10 {
    padding: 10px; 
}
.padding-around-large {
  padding: 24px; }

.padding-around-larger, .dialog {
  padding: 32px; }

.padding-around-largest {
  padding: 64px; }

.padding-sides, footer {
  padding-left: 16px;
  padding-right: 16px; }

.padding-sides-smallest {
  padding-left: 2px;
  padding-right: 2px; }

.padding-sides-smaller {
  padding-left: 4px;
  padding-right: 4px; }

.padding-sides-small {
  padding-left: 8px;
  padding-right: 8px; }

.padding-sides-large {
  padding-left: 24px;
  padding-right: 24px; }

.padding-sides-larger {
  padding-left: 32px;
  padding-right: 32px; }

.padding-sides-largest {
  padding-left: 64px;
  padding-right: 64px; }
  .createdby-npi {
    display: inline-block;
    margin-left: 32px;
    padding-bottom: 5px;
  }
  .createdby-npi-time {
    display: inline-block;
    padding: 0px 5px;
  }
  .updated-npi {
    float: right;
    margin-right: 20px;
  }

/* Theme */
/* Borders */
.border-top {
  padding-top: 16px;
  border-top: 1px solid #ccc; }

.border-right {
  padding-right: 16px;
  border-right: 1px solid #ccc; }

.border-bottom {
  padding-bottom: 16px;
  border-bottom: 1px solid #ccc; }

.border-left {
  padding-left: 16px;
  border-left: 1px solid #ccc; }

.border-top-dashed {
  border-top: 1px dashed #eaeaea; }

.border-bottom-dashed {
  border-bottom: 1px dashed #eaeaea; }

.border-right-dashed {
  border-right: 1px dashed #eaeaea; 
cursor: default !important;}

.border-left-dashed {
  border-left: 1px dashed #eaeaea; 
cursor: default !important}

.border-top-dashed-red {
  border-top: 1px dashed #e53935; }

.border-bottom-dashed-red {
  border-bottom: 1px dashed #e53935; }

.border-right-dashed-red {
  border-right: 1px dashed #e53935; }

.border-left-dashed-red {
  border-left: 1px dashed #e53935; }

/* General */
/* Layout */
.flex, .flex-vertical, .button-group, .media-card .media-body, .dialog, body, .flex-spread, nav ul li a, .module .module-header, .modal .module-header, .modal .modal-header, .module .module-footer, .modal .module-footer, .modal .modal-footer, .timeline-container, .timeline-container.vertical-timeline, .timeline-container.linear-timeline, .dialog .dialog-header, .tags, header, footer, .page-header, .flex-around, .flex-center, .module .module-actions-center, .modal .module-actions-center, .modal .modal-header .modal-actions-center, .media-card .media-right, .pagination, .overlay-container, .flex-end, .flex-center-align, .media, .media-card, .timeline-container .timeline-event, .alert, .snackbar, .tabs-container .tabs, .timeline-container.linear-timeline .timeline-event, .brand-app, .flex-stretch, .flex-wrap, .filters .col-12, .row-to-column, .grid, .overview, .actions, .form-group, nav ul, .module .module-actions-left, .modal .module-actions-left, .modal .modal-header .modal-actions-left, .module .module-actions-right, .modal .module-actions-right, .modal .modal-header .modal-actions-right, .media .media-left, .media-card .media-left, .timeline-container .timeline-event .media-left, .alert .media-left, .snackbar .media-left, .tabs-container.vertical, .dialog .dialog-footer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.flex-vertical, .button-group, .media-card .media-body, .dialog, body {
  flex-direction: column; }

.flex-spread, nav ul li a, .module .module-header, .modal .module-header, .modal .modal-header, .module .module-footer, .modal .module-footer, .modal .modal-footer, .timeline-container, .timeline-container.vertical-timeline, .timeline-container.linear-timeline, .dialog .dialog-header, .tags, header, footer, .page-header {
  justify-content: space-between; }

.flex-around {
  justify-content: space-around; }

.flex-center, .module .module-actions-center, .modal .module-actions-center, .modal .modal-header .modal-actions-center, .media-card .media-body, .media-card .media-right, .pagination, .overlay-container {
  justify-content: center; }

.flex-end {
  justify-content: flex-end; }

.flex-center-align, nav ul li a, .module .module-actions-center, .modal .module-actions-center, .modal .modal-header .modal-actions-center, .media, .media-card, .timeline-container .timeline-event, .alert, .snackbar, .media-card .media-right, .tabs-container .tabs, .timeline-container, .timeline-container.linear-timeline .timeline-event, .brand-app {
  align-items: center; }

.flex-stretch, .module .module-header, .modal .module-header, .modal .modal-header, .media-card, body {
  align-items: stretch; }

.flex-wrap, .filters .col-12 {
  flex-wrap: wrap; }

@media (max-width: 767px) {
  .row-to-column, .grid, .overview, .actions, .timeline-container, footer, .page-header {
    flex-direction: column; } }

.full-height-page {
  height: 100vh; }

.full-width-page {
  width: 100vw; 
}

/* Typgraphy */
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 16px;
  font-family: inherit;
  font-weight: 400;
  color: inherit; }

h1 {
  font-size: 24px; }

h2 {
  font-size: 18px; }

h3 {
  font-size: 16px; }

h4 {
  font-size: 13px; }

h5 {
  font-size: 12px; }

h6 {
  font-size: 10px; }

p {
  margin: 0 0 6px;
  line-height: 1.5; 
}

li {
  line-height: 1.5; }

a {
  color: #0277bd;
  text-decoration: none;
  cursor: pointer; 
  transition: .3s ease;
  -webkit-transition: .3s ease;}
  a:hover {
    color: #324257; }

.label {
  padding: 2px;
  background: #f0ad4e;
  color: white;
  font-size: 10px;
  font-weight: normal; }

/* HTML Components */
label {
  display: block;
  font-weight: 500;
  font-size: 12px;
  color: #5e5e5e; }
  .inline label {
    display: inline-block; }

input[type="text"], select {
  width:93%;
  height: 32px;
  /* font-size: 11px !important; */
  font-family: "Antenna", "Helvetica Neue", Arial, sans-serif;
  line-height: 1;
  background: white;
  border: 1px solid #ddd;
  box-shadow: inset 1px 1px 2px #f4f4f4;
  border-radius: 0; }
  input[type="text"]:focus, textarea:focus, select:focus {
    border-color: #0277bd;
  }
  input[type="text"]:disabled, textarea:disabled, select:disabled {
    background: #f4f4f4;
    border-color: #ddd; }
  .inline input[type="text"], .inline textarea, .inline select {
    display: inline-block;
    margin-right: 0; }

textarea {
  width: 100%;
  height: 40px;
  font-family: "Antenna", "Helvetica Neue", Arial, sans-serif;
  line-height: 1;
  background: white;
  border: 1px solid #ddd;
  box-shadow: inset 1px 1px 2px #f4f4f4;
  border-radius: 0; }
  input[type="text"]:focus, textarea:focus, select:focus {
    border-color: #0277bd;
  }
input[type="text"]:disabled, textarea:disabled, select:disabled {
  background: #f4f4f4;
  border-color: #ddd; 
}
.inline input[type="text"], .inline textarea, .inline select {
  display: inline-block;
  margin-right: 0; 
}
button, .button {
  padding: 8px 24px;
  background: #f4f4f4;
  border: 1px solid #b2b2b2;
  color: #5e5e5e;
  font-size: 12px;
  line-height: 1;
  border-radius: 0; }
  button:hover, .button:hover {
    background: #5e5e5e;
    border-color: #5e5e5e;
    color: white; }
  button:active, .button:active {
    background: #0277bd; }
  button.primary, .button.primary {
    background: #038be5;
    border: 1px solid #038be5;
    color: white; 
	transition: .3s ease;
	-webkit-transition: .3s ease;}
  button.primary:hover, .button.primary:hover {
    background: #0277bd;
    border-color: #0277bd; }
  button.primary:disabled,.button.primary:disabled, .button.primary:disabled:hover {
    background: #f4f4f4;
    color: #b2b2b2;
    border-color: transparent; 
}

table {
  width: 100%; 
}
table th, table td {
  padding: 2px;
	padding-top: 4px;
	padding-bottom: 10px;  
  text-align: left; 
}
  table th {
  padding-top: 2px;
	padding-bottom: 4px;
	padding-left: 16px;
  font-size: 10px;
  font-weight: normal;
  color: #5d87a1;
  text-transform: uppercase; 
}
table td {
  vertical-align: top;
  cursor: default;
}

/* Custom Components */
nav ul li a {
  padding: 8px 16px;
  color: #3f51b5;
  border-radius: 0; 
  transition: .3s ease;
  -webkit-transition: .3s ease;}
  nav ul li a .icon {
    font-size: 10px; }
  nav ul li a.active {
    background: #3f51b5;
    color: white; }
  nav ul li a:hover {
    background: #f4f4f4;
    color: #3f51b5; }
nav ul li ul {
  flex-direction: column;
  position: absolute;
  display: none;
  margin-top: -1px;
  background: #f4f4f4; }
  nav ul li ul li {
    margin: 0;
    font-size: 12px; }
  nav ul li ul a:hover {
    background: #3f51b5;
    color: white; }
nav ul li:hover a {
  background: #e8eaf6; }
nav ul li:hover ul {
  display: -webkit-box;      
  display: -moz-box;         
  display: -ms-flexbox;      
  display: -webkit-flex;     
  display: flex;
}
nav.vertical ul {
  flex-direction: column; 
}

.tabs-container .tabs {
  border-bottom: 2px solid #f4f4f4; }
  .tabs-container .tabs button.tab, .tabs-container .tabs .accordion-container .tab.accordion-trigger, .accordion-container .tabs-container .tabs .tab.accordion-trigger {
    margin: 0 0 -2px;
    padding: 16px 24px;
    background: transparent;
    color: #999;
    border: none;
    border-bottom: 2px solid transparent;
    border-radius: 0; }
  .tabs-container .tabs button.tab:hover, .tabs-container .tabs .accordion-container .tab.accordion-trigger:hover, .accordion-container .tabs-container .tabs .tab.accordion-trigger:hover {
    background: transparent;
    border-color: #5e5e5e; }
  .tabs-container .tabs button.tab.active, .tabs-container .tabs .accordion-container .tab.active.accordion-trigger, .accordion-container .tabs-container .tabs .tab.active.accordion-trigger {
    background: transparent;
    border-color: #0277bd !important;
    color: #0277bd !important; }
.tabs-container .tabs-content {
  display: none; }
  .tabs-container .tabs-content.active {
    display: block; }
.tabs-container.vertical .tabs {
  flex-direction: column;
  margin-right: 0;
  border-bottom: none; }
.tabs-container.vertical .tabs button.tab, .tabs-container.vertical .tabs .accordion-container .tab.accordion-trigger, .accordion-container .tabs-container.vertical .tabs .tab.accordion-trigger {
    display: block;
    width: 100%;
    margin: 0 !important;
    border-right: 2px solid #f4f4f4;
    border-bottom: none;
    text-align: right; 
}
.overlay-container {
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000; 
}
.overlay-container .overlay-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.3;
  z-index: -1; 
}
.sessionDialog {
  width: 32%;
  height: auto;
  padding: 20px;
  background: white;
  box-shadow: 0 0 32px 8px #5e5e5e;
  border-radius: 0;
} 
.loading-indicator {
  display: inline-block;
  padding: 2px 2px 2px 24px;
  background: url("stencil/images/loading.svg") no-repeat left center;
  background-size: 16px;
  font-size: 12px;
  transition: display 0.5 ease-in; }

.overlay-container .loading-indicator {
  display: none;
  position: absolute;
  top: 45%;
  left: 45%;
  padding: 8px 8px 8px 32px;
  background-color: white;
  background-position: 8px 8px;
  border-radius: 0; }

.brand-app .brand {
  display: inline-block;
  border-right: 1px solid #ccc; }
.brand-app .app {
  margin-top: 0;
  margin-bottom: 0;
  color: white; }

.avatar {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 80px;
  background-image: url("stencil/images/default-avatar.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 80px auto;
  background-color: #f4f4f4;
  border-radius: 80px;
  cursor: pointer; }
  .avatar .status-indicator {
    position: absolute;
    width: 24px;
    height: 24px;
    margin: 56px 0 0 56px;
    background: #999;
    border: 2px solid white;
    border-radius: 16px; }
    @media (max-width: 1022px) {
      .media-card .avatar .status-indicator {
        margin-left: 24px; } }
    @media (max-width: 1022px) {
      .expanded .media-card .avatar .status-indicator {
        margin-left: 56px; } }
  .avatar.compact, .avatar.compressed {
    width: 30px;
    height: 30px;
    background-size: 30px auto; }
    .avatar.compact .status-indicator, .avatar.compressed .status-indicator {
      width: 16px;
      height: 16px;
      margin: 24px 0 0 24px; }
  @media (max-width: 767px) {
    .avatar.compressed {
      width: 10px;
      height: 10px;
      background-image: none !important; } }
  .avatar.available .status-indicator {
    background-color: limegreen; }
  .avatar.away .status-indicator {
    background-color: gold; }
  .avatar.busy .status-indicator {
    background-color: crimson; }
  .avatar.offline .status-indicator {
    background-color: color(grey); }
  .avatar.unknown .status-indicator {
    background-color: black; }

/* Helpers */
.pointerStyle {
  cursor: pointer;
}
.disabledPointer {
  cursor: auto;
}
.maxHeight-125 {
  max-height: 125px;
}
.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.text-justify {
  text-align: justify; }

.text-nowrap {
  white-space: nowrap; }

.text-lowercase {
  text-transform: lowercase; }

.text-uppercase {
  text-transform: uppercase; }

.text-capitalize {
  text-transform: capitalize; }

.font-size-smallest {
  font-size: 10px; }

.font-size-small {
  font-size: 12px; }

.font-size-regular {
  font-size: 13px; }

.font-size-medium {
  font-size: 16px; }

.font-size-large, .overview .card .title, .overview .date-card .title, .actions .item .title {
  font-size: 18px; 
}

.text-color-navy {
  color: #0067ac;
}
.text-color-red-dark {
  color: #e53935;
}
/* List */
.flat-list, nav ul, .tabs-container .tabs, .tags {
  margin-left: 0;
  padding-left: 0;
  list-style: none; 
}
.flat-list{
  overflow-y: scroll;
  height: auto;
  max-height: 200px;
  overflow:auto;
}
.with-separator li {
  border-bottom: 1px solid #ccc; }
.with-separator li:last-child {
  padding-bottom: 0;
  border-bottom: none; }

.with-separator-large li {
  border-bottom: 1px solid #ccc; }
.with-separator-large li:last-child {
  padding-bottom: 0;
  border-bottom: none; }

.list-section-title {
  padding: 8px;
  border-bottom: 2px solid white;
  color: #5d87a1;
  font-size: 16px; }

/* Overrides */
.collapsed {
  height: 0;
  overflow: hidden;
  margin: 0 !important;
  padding: 0 !important;
  border: none;
  box-shadow: none; }

@media (max-width: 767px) {
  .collapsed-sm {
    height: 0;
    overflow: hidden;
    margin: 0 !important;
    padding: 0 !important;
    border: none;
    box-shadow: none; 
  } 
}

.show.overlay-container, .show.modal, .show.snackbar {
    display: -webkit-box;      
    display: -moz-box;         
    display: -ms-flexbox;      
    display: -webkit-flex;     
    display: flex !important; 
}
.show {
  display: block; 
}
.hidden {
  display: none; 
}

@media (max-width: 767px) {
  .hidden-sm {
    display: none !important; } }

@media (min-width: 767px) and (max-width: 1022px) {
  .hidden-md {
    display: none !important; } }

@media (min-width: 1023px) {
  .hidden-lg {
    display: none !important; } }

/* General */
body {
  max-width: 1440px;
  margin: 0 auto;
  background-color: white;
  font: 13px "Antenna", "Helvetica Neue", Arial, sans-serif;
  line-height: 1.2;
  color: #5e5e5e;
  cursor: default; }

footer p {
  font-size: 12px;
  color: #b2b2b2;
  line-height: 1.4; }
@media (max-width: 767px) {
  footer {
    text-align: center; } }

header {
  box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.3); 
  z-index: 999;
}

body {
  background-color: #F4F4F4;
  max-width: none; }

.page-header {
  align-items: center; }
  .page-header h1 {
    margin-bottom: 0;
    color: #262626; }

.well, .overview .card, .overview .date-card, .actions .item {
  background-color: #fff;
  border-radius: 4px; }

legend {
  color: #777; }

.drop-zone {
  border: dashed 3px #777;
  border-radius: 5px; }

table th {
  min-width: 45px;
  padding-top: 8px;
  padding-right: 14px;
  background: #eee;/*#e3f2fd;*/
  border: 1px solid #fff;
}

.supplier-score {
  padding: 3px;
  line-height: 3px; }

.supplier-score.success {
  border: 1px solid #43a047;
  background-color: #e8f5e9;
  color: #43a047; }

.supplier-score.danger {
  border: 1px solid #e53935;
  background-color: #ffebee;
  color: #e53935; }


.align-center, .overview .card, .overview .date-card, .overview .card .title, .overview .date-card .title, .overview .card .score, .overview .date-card .score {
  text-align: center; }

.overview .card:last-child, .overview .date-card:last-child {
  margin-right: 0; }

.actions .item {
  border: 1px solid #ccc;
  position: relative; }
  .actions .item .action-indicator {
    position: absolute;
    width: 24px;
    height: 24px;
    margin-top: -27px;
    background: #999;
    border: 2px solid white;
    border-radius: 16px;
    right: -9px; }
  .actions .item .title {
    font-weight: 500; }
  .actions .item .time {
    color: #999; }
  .actions .item.immediate .action-indicator {
    background-color: #d9534f; }
  .actions .item.action2 .action-indicator {
    background-color: #ef9a9a; }

/* custom style */

/* page header */
header {
  position: fixed;
  width: 100%;
  height: 60px;
  background: #000; }

.brand-link {
  color: #ddd;
  font-size: 17px; }
	.brand-link:hover {
  		color: #fff; }

.size-150x150 {
  min-width: 150px;
  min-height: 150px;
  max-width: 150px;
  max-height: 150px;}

.user-name {
  padding-left: 10px;
  color: #fff;	
  font-size: 13px;
}

.user-role {
  color: #ccc;	
  font-size: 10px;
}

.logout {
  color: #f7941d;
  font-size: 13px;
  margin-left: 1em;
}
.logout:hover {
  color: #3493c1;
}
/* main contain both left nav and main content */
.main-page {
  display: -webkit-box;      
  display: -moz-box;         
  display: -ms-flexbox;      
  display: -webkit-flex;     
  display: flex;
  flex-direction: row;
  height: 100%;
  padding-top: 60px;
}
.page-title {
	font-size: 1.5em;
}
.page-section-title {
	font-size: 1.2em;
}

/* left nav */
.nav-left {
  background-color: #5d87a1; 
  width: 130px;  
}
.nav-left nav.vertical ul li {
  padding: 0;
  margin: 0; 
}
.nav-left nav.vertical ul li a {
  color: #fff;
  font-size: 13px;
  width: 100%;
  display: block;
  padding: 12px 16px; 
  border-left: 4px solid transparent;
  border-radius: 0; 
}
.nav-left nav.vertical ul li a .icon {
  font-size: 1.3em; 
}
.nav-left nav.vertical ul li a:hover {
  background: #f4f4f4;
  color: #0277bd;
  width: 100%; 
}
.nav-left nav.vertical ul li a.active {
  background: #D5E7FD;
  color: #187ABB;
  border-left: 5px solid #187ABB; 
}
.nav-left nav.vertical ul li a.active a {
  color: #187ABB; 
}
/* left nav for external users */
.nav-left-external {
  background-color: #6488ea; 
  width: 110px;  
}
.nav-left-external nav.vertical ul li {
  padding: 0;
  margin: 0; 
}
.nav-left-external nav.vertical ul li a {
  color: #fff;
  font-size: 13px;
  width: 100%;
  display: block;
  padding: 12px 16px; /*t,r,b,l*/
  border-left: 4px solid transparent;
  border-radius: 0; 
}
.nav-left-external nav.vertical ul li a .icon {
  font-size: 1.3em; 
}
.nav-left-external nav.vertical ul li a:hover {
  background: #f4f4f4;
  color: #0277bd;
  width: 100%; 
}
.nav-left-external nav.vertical ul li a.active {
  background: #D5E7FD;
  color: #187ABB;
  border-left: 5px solid #187ABB; 
}
.nav-left-external nav.vertical ul li a.active a {
  color: #187ABB; 
}
.leftNavWrapper {
  max-height: auto;
  position: fixed;
}

canvas {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

/* tiles - counters */
.tiles {
  width: 100%;
  height: auto;
  display: -webkit-box;      
  display: -moz-box;         
  display: -ms-flexbox;      
  display: -webkit-flex;     
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: left;
  padding-top: 16px; }

	.tiles .tile {
	  width: 150px;
	  height: 150px;
	  background-color: #fff;
	  border: 1px solid #e4e4e4;
	  border-radius: 4px;
	  display: -webkit-box;      
    display: -moz-box;         
    display: -ms-flexbox;      
    display: -webkit-flex;     
    display: flex;
	  flex-direction: column;
	  justify-content: center;
	  margin: 10px; 
	  transition: .3s ease;
    -webkit-transition: .3s ease;
  }

  .tiles .tile:hover {
  -webkit-box-shadow: 1px 1px 8px -4px #777;
    -moz-box-shadow: 1px 1px 8px -4px #777;
        box-shadow: 1px 1px 8px -4px #777;
  cursor: pointer;
  border: 1px solid #ccc;
  /*background: #E8F3F8;*/
  }

  .tiles .tile .title {
  width: 60%;
  height: 50%;
  align-self: center; 
  }

  .tiles .tile .title .counter-title {
    font-size: 1.2em;
    color: #777; 
  }

  .tiles .tile .value {
    width: 100%;
    height: 40px;
    align-self: center; 
  }

  .tiles .tile .value .counter-value {
    font-size: 2.5em;
    color: #555; 
  }

	.tiles .short-tile {
	  width: 200px;
	  height: 100px;
	  background-color: #5d87a1;
	  border: 1px solid #5d87a1;
	  border-radius: 4px;
	  display: -webkit-box;      
    display: -moz-box;         
    display: -ms-flexbox;      
    display: -webkit-flex;     
    display: flex;
	  flex-direction: column;
	  justify-content: center;
	  margin: 10px; 
	  transition: .3s ease;
	  -webkit-transition: .3s ease;}

	.tiles .short-tile:hover {
    -webkit-box-shadow: 1px 1px 8px -4px #777;
    -moz-box-shadow: 1px 1px 8px -4px #777;
    box-shadow: 1px 1px 8px -4px #777;
		cursor: pointer;
		border: 1px solid #ccc;
		background: #537e98;
  }

.tiles .short-tile .title {
    width: 60%;
    height: 30%;
    align-self: center; 
}
  
.tiles .short-tile .title .program-title {
    font-size: 1.2em;
    color: #fff; 
}
.center-align {
  text-align: center;
}
.v-align {
  position: absolute;
  top: 20%;
}
.v-align-middle {
  vertical-align: middle;
}
.copyrights {
  font-size: 10px;
  color: #999999;
}
.left-nav-focused {
  color: #0067ac !important;
  background: #f4f4f4;
  border-left: 4px solid #0067ac;
}
.mouse-enabled {
	cursor: pointer;
}

/* section */
.text-warning {
	color: #c62828;
}

.content {
  width: 91%;
}
.content1 {
  width: 90%;
}

.content-section-box {
  width: 100%; /*770px;*/
  height: auto;
  background-color: #fff;
  border: 1px solid #e4e4e4;
  border-radius: 4px;
}

.content-section-title {
  background-color: #ddd;
  padding: 6px 10px 4px 10px;
}

.content-section-title:hover {
  background-color: #ccc;
}

.input-section {
	padding: 16px;
}

.display-only-section {
	padding: 16px;
}

.h-line {
  display: inline-block;
  border-top: 1px solid #ccc;
  width: 100%;
  margin-top: 16px;
  margin-bottom: 16px;
}

select {
  /* text-indent: 6px; */
  height: 32px;
  vertical-align: top;
}

::placeholder { /* Firefox */
  color: #ddd;
  opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #ddd;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: #ddd;
}
	
.text-align-right {
	text-align: right;
}

.text-align-top {
	vertical-align: top;
}

.text-align-middle {
	vertical-align: middle;
}
.img-align-middle {
  margin-top: -5px;
	vertical-align: middle;
}
.padding-without-img {
  padding-left: 25px;
}

.text-align-baseline {
	vertical-align: baseline;
}

.long-column-list-container {
	  width: 94%;
    padding-top: 16px;
    border: solid 0 #ccc;
    white-space: nowrap;
	  overflow: hidden;
}

.long-column-list-header {
    width: 90%;
    height: 20px;
    display: inline-block;
}

.long-column-list-input {
    width: 120px;
    height: 20px;
    display: inline-block;
	font-size: 10px; 
}

.long-column-list-input-block {
    width: 120px;
    height: 30px;
    display: block;
	font-size: 10px; 
}

.text-overflow-wrap {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.width-50-px {
    width: 50px;
	  max-width: 50px;
}
.truncate-status {
  overflow: hidden;
  white-space: normal;
}
.width-auto {
  width: auto;
}
.width-100-px {
  width: 100px;
	max-width: 100px;
}

.width-150-px {
  width: 150px;
	max-width: 150px;
}
.width-160-px {
  width: 160px;
	max-width: 160px;
}
.width-170-px {
  width: 170px;
	max-width: 170px;
}
.width-200-px {
	width: 200px;
  max-width: 200px;
}
.width-250-px {
	width: 250px;
  max-width: 250px;
}
.width-300-px {
	width: 300px;
  max-width: 300px;
}
.width-362-px {
	width: 362px;
  max-width: 362px;
}
.width-375-px {
	width: 375px;
  max-width: 375px;
}
.width-400-px {
	width: 400px;
  max-width: 400px;
}
.width-500-px {
	width: 500px;
  max-width: 500pxt;
}
.width-19 {
  width: 19%;
}
.width-25 {
  width: 25%;
}
.width-26 {
  width: 26%;
}
.width-27 {
  width: 27%;
}
.width-30 {
  width: 30%;
}
.width-33 {
  width: 33%;
}
.width-34 {
  width: 34%;
}
.width-40 {
  width: 40%;
}
.width-50 {
  width: 50%;
}
.width-58 {
  width: 58%;
}
.width-advance-search {
  width: 58.7%;
}
.width-60 {
  width: 60%;
}
.width-66 {
  width: 66%;
}
.width-75 {
  width: 75%;
}
.width-80 {
  width: 80%;
}
.width-81 {
  width: 81%;
}
.width-93 {
  width: 93%;
}
.width-95 {
  width: 95%;
}
.width-96 {
  width: 96.5%;
}
.width-99 {
  width: 99%;
}
.width-100 {
  width: 100%;
}
.height-50-px {
	height: 50px;
}
.height-70-px {
	height: 87px;
}
.height-90-px {
	height: 90px;
}
.height-100-px {
	height: 100px;
}
input[custom="full-width"] {
  width: 100%;
}
input[custom="width-75"] {
  width: 75%;
}
input[custom="width-80"] {
  width: 80%;
} 

input[custom="width300"] {
  width: 300px;
  margin-right: 16px;
}
textarea[custom="width300"] {
  width: 300px;
  margin-right: 16px;
}
input[custom="height34"] {
	height: 34px;
}
input[custom="simple-search"] {
	width: 260px;
	margin-right: 24px;
}
input[type="date"] {
	border: 1px solid #ddd;
	height: 32px;
}
.side-by-side-col-2 {
	display: -webkit-box;      
  display: -moz-box;         
  display: -ms-flexbox;      
  display: -webkit-flex;     
  display: flex;
}
.field-label {
	width: 20%;
}
.width-73 {
	width: 73% !important;
}
.acceptance-email-comment {
	display: none;
}

.acknowledgment-email-comment {
	display: none;
}

.text-success {
	color: #49a942;
	font-size: 11px;
}

.text-success-large {
	color: #49a942;
	font-size: 14px;
}

.text-alert {
	color: #f44336;
	font-size: 11px;
}

.text-hint {
	color: #B27879;
	font-size: 9px;
}

.text-link-inside-button {
	color: #fff;
}

.text-link-inside-button:hover {
	color: #fff;
}

.text-required {
	color: #f44336;
}

.text-input-label {
	font-weight: bold;
}
/* DFM Table columns size starts*/
.selectFont > select {
  font-size: 11px;
}
.dfmFilterDropDown {
  width: 100%;
}
.board_width {
  width: 9%;
  max-width: 9%;
}
.etchWidth {
  width: 3%;
  max-width: 3%;
}
.pcbPnWidth {
  width: 7.5%;
  max-width: 7.5%;
}
.pcbaPnWidth {
  width: 7.5%;
  max-width: 7.5%;
}
.siteWidth {
  width: 5%;
  max-width: 5%;
}
.issueCodeWidth {
  width: 12%;
  max-width: 12%;
}
.resCodeWidth {
  width: 11.2%;
  max-width: 11.2%;
}
.statusWidth {
  width: 6.2%;
  max-width: 6.2%;
}
.sevWidth {
  width: 5%;
  max-width: 5%;
}
.datePickerWidth {
  width: 14%;
  max-width: 14%;
}
.reportedInWidth {
  width: 11%;
  max-width: 11%;
}
/* DFM Table columns size ends */

.dfmIssueBrdColPadding {
  padding-left: 10px;
  padding-right: 10px;
}
.dfmIssueSummarBrd {
  padding-left: 5px;
  padding-right: 5px;
}
.hide-it {
  display: none;
}
.show-it {
  display: block;
}
.loading-overlay {
	/* width: 300px; */
	text-align: center;
}
.slide-in-left {
	transform: translateX(-200px);
	transition: left 5s cubic-bezier(0, 0, 1, 1);
}

.train {
  position: relative;
  cursor: pointer;
  width: 177px;
  height: 160px;
  left: 0;
  transition: left 5s cubic-bezier(0, 0, 1, 1);
}

.sticky-top {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 5;
}
.less-Padding {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  min-width: 0px !important;
}

/* DFM All Issues Result Table */
.freeze-scroll tr:nth-child(odd) td:first-child,
.freeze-scroll tr:nth-child(odd) td:nth-child(2),
.freeze-scroll tr:nth-child(odd) td:nth-child(3),
.freeze-scroll tr:nth-child(odd) td:nth-child(4)  {
  background-color: #f4f4f4 !important;
}
/* .freeze-scroll tr:hover {
  background: #eee !important;
  cursor: pointer;
} */
.freeze-scroll  tr:nth-child(odd):hover td:first-child,
.freeze-scroll  tr:nth-child(odd):hover td:nth-child(2),
.freeze-scroll  tr:nth-child(odd):hover td:nth-child(3),
.freeze-scroll  tr:nth-child(odd):hover td:nth-child(4){
  background: #eee !important;
  cursor: pointer;
}
.freeze-scroll tr:nth-child(even) td:first-child,
.freeze-scroll tr:nth-child(even) td:nth-child(2),
.freeze-scroll tr:nth-child(even) td:nth-child(3),
.freeze-scroll tr:nth-child(even) td:nth-child(4)  {
  background-color: white !important;
}
.freeze-scroll tr:nth-child(even):hover td:first-child,
.freeze-scroll tr:nth-child(even):hover td:nth-child(2),
.freeze-scroll tr:nth-child(even):hover td:nth-child(3),
.freeze-scroll tr:nth-child(even):hover td:nth-child(4)  {
  background: #eee !important;
  cursor: pointer;}

.freeze-scroll td:first-child ,td::-webkit-scrollbar {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  z-index: 5 !important;
  /* background-color: white !important; */
}
.freeze-scroll td:first-child::-webkit-scrollbar{
  background-color: transparent !important;
}
.freeze-scroll th:first-child {
  position: sticky !important;
  left: 0 !important;
  z-index: 7 !important;
}
.freeze-scroll th:nth-child(2) {
  position: sticky !important;
  left: 51px !important;
  z-index: 7 !important;
}
.freeze-scroll td:nth-child(2) {
  position: sticky;
  left: 51px !important;
  z-index: 5 !important;
  /* background-color: white !important; */
}
.freeze-scroll th:nth-child(3) {
  position: sticky !important;
  left: 107px !important;
  z-index: 7 !important;
}
.freeze-scroll td:nth-child(3) {
  position: sticky;
  left: 107px !important;
  z-index: 5 !important;
  /* background-color: white !important; */
}
.freeze-scroll th:nth-child(4) {
  position: sticky !important;
  left: 162px !important;
  z-index: 7 !important;
}
.freeze-scroll td:nth-child(4) {
  /* border-right: 3px solid #eee !important; */
  position: sticky;
  left: 162px !important;
  z-index: 5 !important;
}
.dfmTitleWrapper {
  padding: 10px 8px 10px 8px;
}
.issueLabelWrapper {
  padding: 5px 15px 12px 15px;
}
.rdoBtnWrapper {
  display: inline-block;
  margin: 0px 0px -15px 25px;
}
.advSearchWrapper {
  display: -webkit-box;      
  display: -moz-box;         
  display: -ms-flexbox;      
  display: -webkit-flex;     
  display: flex;
  float: right;
  margin-top: -5px;
}
.keywordSearch {
  padding: 6px 10px 0px 0;
  font-weight: bold;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
}
.filterWrapper {
  width: 100%;
  display: -webkit-box;      
  display: -moz-box;         
  display: -ms-flexbox;      
  display: -webkit-flex;     
  display: flex;
  padding-bottom: 10px;
}

.contentFilterWrapper {
  padding: 10px 10px 10px 15px;
}
.sticky-left {
  position: -webkit-sticky;
  position: sticky;
  left: 0px;
}
.sticky-right {
  position: -webkit-sticky;
  position: sticky;
  vertical-align: middle;
}
.bg-white {
	background-color: #fff;
}
.down-3px {
	margin-top: 3px;
}

.down-4px {
	margin-top: -4px;
}

.up-4px {
	margin-top: 0;
}

.up-6px {
	margin-top: -6px;
}

.h-scroll {
	width: 100%;
  border: solid 0 #ccc;
	overflow-x: auto;
}
.v-scroll-420px {
	width: 100%;
	height: auto;
	max-height: 420px;
	margin-top: 0;
	overflow-y: auto;
}
.v-scroll-500px {
	width: 100%;
	height: auto;
	max-height: 500px;
	margin-top: 0;
	overflow-y: auto;
}
.v-scroll-515 {
	width: 100%;
	height: auto;
	max-height: 515px;
	margin-top: 0;
	overflow-y: auto;
}
.v-scroll-dynamic {
	width: 100%;
	height: auto;
	max-height: 550px;
	margin-top: 0;
	overflow-y: auto;
}
@media screen and (max-height: 821px) {
  .v-scroll-dynamic {
    width: 100%;
    height: auto;
    max-height: 550px;
    margin-top: 0;
    overflow-y: auto;
  }
}
@media screen and (max-height: 749px) {
  .v-scroll-dynamic {
    width: 100%;
    height: auto;
    max-height: 480px;
    margin-top: 0;
    overflow-y: auto;
  }
}
@media screen and (max-height: 650px) {
  .v-scroll-dynamic {
    width: 100%;
    height: auto;
    max-height: 350px;
    margin-top: 0;
    overflow-y: auto;
  }
}
@media screen and (max-height: 550px) {
  .v-scroll-dynamic {
    width: 100%;
    height: auto;
    max-height: 250px;
    margin-top: 0;
    overflow-y: auto;
  }
}
.v-scroll-550px {
	width: 100%;
	height: auto;
	max-height: 550px;
	margin-top: 0;
	overflow-y: auto;
}
.v-scroll-580px {
	width: 100%;
	height: auto;
	max-height: 580px;
	margin-top: 0;
	overflow-y: auto;
}
.v-scroll-height-40 {
	width: 100%;
	height: 40px;
	max-height: 400px;
	margin-top: 16px;
  border: solid 0 #ccc;
	overflow-y: auto;
}

.v-scroll-height-50 {
	width: 100%;
	height: 50px;
	max-height: 50px;
  border: solid 0 #ccc;
	overflow-y: auto;
}

.v-scroll-height-60 {
	width: 100%;
	height: 60px;
	max-height: 60px;
	margin-top: 16px;
  border: solid 0 #ccc;
	overflow-y: auto;
}

.v-scroll-height-100 {
	width: 100%;
	height: 100px;
	max-height: 100px;
	margin-top: 16px;
  border: solid 0 #ccc;
	overflow-y: auto;
}

.v-scroll-height-125 {
	width: 100%;
	height: 125px;
	max-height: 125px;
	margin-top: 16px;
  border: 1px solid #ccc;
	overflow-y: auto;
}

.v-scroll-height-150 {
	width: 100%;
	height: 150px;
	max-height: 150px;
	margin-top: 16px;
    border: solid 0 #ccc;
	overflow-y: auto;
}

.v-scroll-height-200 {
	width: 100%;
	height: auto;
	max-height: 200px;
	margin-top: 16px;
    border: solid 0 #ccc;
	overflow-y: auto;
}

.v-scroll-height-300 {
	width: 100%;
	height: 200px;
	margin-top: 16px;
    border: solid 0 #ccc;
	overflow-y: auto;
}

.v-scroll-height-400 {
	width: 100%;
	height: 400px;
	max-height: 400px;
	margin-top: 16px;
  border: solid 0 #ccc;
	overflow-y: auto;
}

.column-flex {
  display: -webkit-box;      
  display: -moz-box;         
  display: -ms-flexbox;      
  display: -webkit-flex;     
  display: flex;
  flex-direction: row;
}

.button-skiny {
	font-size: 10px;
	padding: 1px 2px 1px 2px; /* t r b l */
	width: 100px;
	height: 16px;
}

.button-upload {
	font-size: 10px;
	padding: 1px 2px 1px 2px; /* t r b l */
	width: 100px;
	height: 18px;
}

.button-add {
	font-size: 10px;
	padding: 1px 2px 1px 2px; /* t r b l */
	width: 60px;
  height: 32px;
  margin-left: 5px;
}
.button-add-dfm {
	font-size: 10px;
	padding: 1px 2px 1px 2px; /* t r b l */
	width: 50px;
  height: 32px;
  /* margin-left: 5px; */
  font-weight: bold;
}
.button-submit-green {
	background: #49a942;
	border: 1px solid #888;
    color: white;
}

.button-submit-green:hover {
	background: #388633;
}
.text-color-grey-dark {
  color: #777;
}
.min-width-36 {
	min-width: 36px;
}

.confirm-message-container {
	padding: 24px;
}

.editable-comment {
  height: 80px;
}

table.list tr:nth-child(odd) {
  background-color: #f4f4f4;
}

table.list tr:hover {
  background: #eee;/*off white*/
  cursor: pointer;
}

table.clean-list tr {
  cursor: pointer;
}

table.clean-list tr:hover {
  background: rgba(244,244,244,.5); /*#f4f4f4;*/
  cursor: pointer;
}

table.simple tr:nth-child(odd) {
  background: rgba(0,0,0,0);
}

table.simple tr {
  background: rgba(0,0,0,0);
}

table.simple tr th {
  background: rgba(0,0,0,0);
}

table.simple tr td {
  background: rgba(0,0,0,0);
}

table.simple tr:last-child {
  background: rgba(0,0,0,0);
  cursor: default;
}
table.list-separator {
  border-bottom: thin #eee solid;
}
.simple-search-field {
	overflow: hidden;
	padding-right: 8px;
}
.simple-search-button {
	opacity: 0.5;
}

.simple-search-button:hover {
	opacity: 1;
}

.file-upload {
	color: #A1A1A1;
    font-size: 11px;
	border: dashed 1px #eee;
	padding-bottom: 2px;
	width: 190px;
}

.show-solid-border {
	border: solid 1px #ddd;
	padding: 16px;
}

.show-dashed-border {
	border: dashed 1px #ddd;
	padding: 16px;
}

.show-background {
	background-color: #F4F4F4;
	padding: 16px;
}

.disabled {
	pointer-events: none;
	opacity: 0.5;
}

.dialog-title {
	font-size: 14px;
}

.show-border {
	border: #ccc solid 1px;
}

.show-border-light-gray {
	border: #efefef solid 1px;
}

.show-border-light-gray-dashed {
	border: #efefef dashed 1px;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

:focus {
    outline: none !important;
}

.img-link {
	opacity: 0.7;
}

.img-link:hover {
	opacity: 1;
}

.text-wrap {
	word-wrap: break-word;
	white-space: -o-normal;
	white-space: -moz-normal;
	white-space: -normal;
	white-space: normal;
}
.transition-enabled  {
  transition: .3s ease;
  -webkit-transition: .3s ease;	
}
.no-bgcolor {
	background-color: rgba(255, 0, 0, 0) !important;
}
.no-border {
	border: none;
}
.no-padding {
	padding: 0;
}
.margin-left {
	margin-left: 10px;
}
.margin-right {
	margin-right: 10px;
}
.spacing-10-px {
	margin-left: 5px;
	margin-right: 5px;
}
.spacing-6-px {
	margin-left: 3px;
	margin-right: 3px;
}
.advanced-serch {
  width: 70%;
  background: white;
  box-shadow: 0 0 32px 8px #5e5e5e;
  border-radius: 0;
}
.tooltip-wrap {
  position: relative;
}
.tooltip-content {
  z-index: 1000;
  top: 0;
  opacity: 0;
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  background-color: #fff;
  padding: 16px;
  box-shadow: 0 2px 10px 4px #aaa;
}
.tooltip-wrap:hover .tooltip-content {
  opacity: 1;
  display: block;
}
.margin-top-1px {
	margin-top: 1px;
}
.margin-top-2px {
	margin-top: 2px;
}
.margin-top-3px {
	margin-top: 3px;
}
.margin-top-4px {
	margin-top: 4px;
}
.margin-top-5px {
	margin-top: 5px;
}
.noscroll { 
  overflow: hidden !important;
}
.noresize {
  resize: none;

}
.padding-5px {
  padding: 5px;
}
.padding-10px {
  padding: 10px;
}
.list-name{
  display: block;
  list-style-type: none;
  padding: 10px;
  border: 1px solid #ddd;
  margin-left: 0px;
  margin-top: 10px;
  height: auto;
  max-height:100px;
  overflow-y: auto;
  width:100%;
}
.list-users{
  font-size: 15px;
}
.padding-top-contacts{
  padding-top: 6px;
  font-size: 12px;
}

.text-color-grey-light-contacts {
  color: #b2b2b2 !important;
  font-size: 12px;
}

.list-name{
  display: block;
  list-style-type: none;
  padding: 10px;
  border: 1px solid #ddd;
  margin-left: 0px;
  margin-top: 10px;
  height: auto;
  max-height:100px;
  overflow-y: scroll;
  width:100%;
}
.list-name-pcb{
  display: block;
  list-style-type: none;
  padding: 10px;
  border: 1px solid #ddd;
  margin-left: 0px;
  margin-top: 10px;
  height: auto;
  max-height:100px;
  overflow-y: scroll;
  width:80%;
}
.list-name-pcbaPn {
  display: block;
  list-style-type: none;
  padding: 10px;
  border: 1px solid #ddd;
  margin-left: 0px;
  margin-top: 10px;
  height: auto;
  max-height:100px;
  overflow-y: scroll;
  width:98%;
}
.error-text{
  padding:5px;
  color:red;
}

.spacing-10-px {
  margin-left: 5px;
  margin-right: 5px;
}
.left-nav-focused a{
  color: #0277bd !important;
}
.input-down-arrow{
  width: 13px;
  height: 16px;
  position: relative;
  right: 7px;
  bottom: 24px;
  float: right;
  opacity:0.6;
} 
.disabled-input{
  border: 0px;
  pointer-events: none;
  padding-left: 10px;
}
.disable-section{
  pointer-events: none;
  opacity: 0.5;
}
#list-pcb-750{
  width: 65%;
  white-space: nowrap;
}
select{
  padding:0px;
}
.master-combo-error{
  color: red;
  margin-left: 20rem;
}
/*# sourceMappingUR=style.css.map */
.hide-it {
  display: none;
}
.show-it {
  display: block;
}
.posted-note-container {
  position: absolute;
}
.posted-note {
  color: #333;
  position: relative;
  width: 180px;
  margin: 0 auto;
  padding: 20px;
  font-family: Satisfy;
  font-size: 12px;
  box-shadow: 0 10px 10px 2px rgba(0,0,0,0.3);
}
.yellow {
  background: #eae672;
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  transform: rotate(2deg);
}
.triangle-right {
  width: 0;
  height: 0;
  border-left: 50px solid #eae672;
  border-bottom: 20px solid transparent;
}
.triangle-left {
  width: 0;
  height: 0;
  border-right: 50px solid #eae672;
  border-bottom: 20px solid transparent;
}
.h-center-line {
  display: inline-block;
  border-top: 1px dashed #ccc;
  width: 60%;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 20%;
}
.boardHeading {
  padding: 10px 0px;
}
.margin-button{
  margin-left: 3px;
}
.react-datepicker-wrapper{
  width: 100px;  
}
.DFMDatepicker .react-datepicker-wrapper {
  width: 80px !important;
}
input[type="text"], select .DFMDatepicker{
  font-size: 11px !important;
}
.table-cursor-id {
  cursor: default !important;
}
.dfm-less-padding  {
  padding-left: 16px !important;
}
.table-cursor-link {
  cursor: auto !important;
}
table.table-cursor tr th{
  cursor: default !important;
}
.textWrap{
  white-space: pre-line;
  word-break: break-word;
}
.pointer {
  cursor: 'pointer'
};
input[name="pcbRevision"] {
  border: 1px solid #ddd;
}
input[name="pcbPaRevision"] {
  border: 1px solid #ddd; 
}
input[name="revisionpcba"] {
  border: 1px solid #ddd;
}
input[name="revisionpn"] {
  border: 1px solid #ddd; 
} 
input[name="brdList"] {
  border: 1px solid #ddd;
}
.datalist-arrow {
  position:relative;
}
.datalist-arrow:after {
  content:'\25bc';
  position:absolute;
  right:5px;
  top:50%;
  transform: translateY(-50%);
  display:block;
  width:25px;
  height:15px;
  line-height:20px;
  font-size: .9em;
  color:#333;
  text-align:center;
  background:#fff;
  pointer-events:none;
}
 /* DataList style for disabled Field */
.disabledDatalist-arrow {
  position:relative;
}
.disabledDatalist-arrow:after {
  content:'\25bc';
  position:absolute;
  right:5px;
  top:50%;
  transform: translateY(-50%);
  display:block;
  width:25px;
  height:15px;
  line-height:20px;
  font-size: .9em;
  color:#333;
  text-align:center;
  background: transparent;
  pointer-events:none;
}
.react-datepicker-popper{
  z-index: 6 !important;
}
.dfmLastDate {
  margin-left: -8px !important;
}
.align-index-numbers:first-child {
  margin-left: 3px !important;
}
.inlineFlex {
  display: inline-flex;
}
.cancelBtnStyle {
  font: 13px "Antenna", "Helvetica Neue", Arial, sans-serif;
  color: #0277bd;
  background-color: transparent;
  border: none;
  text-decoration: none;
  cursor: pointer;
}
.cancelBtnStyle:hover {
  color: #324257;
  background-color: transparent;
}
.cancelBtnStyle:active, a:hover {
  outline: 0;
}
.pnListWrapper {
  padding: 10px;
}
.pro-desc-text {
  width: 26.5%;
  min-height: 60px;
  position: absolute;
}
.border-0 {
  border: 0;
}
.homeContentWrapper {
  height: 300px;
  display: -webkit-box; 
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content:'center';
}
.label-font {
  font-weight: normal;
}
.mastercombo-space{
  white-space: pre;
}