.mainWrapper {
    width: 94%;
}
.flexContainer {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /*  OLD - Firefox 19 */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
}
.legendsContainer {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    height: auto;
}
.legendContentWrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 50%;
    padding: 13px 0 5px 15px;
}
.actionBtnWrapper {
    width: 49%;
    float: right;
    padding: 10px 0 5px 0;
}
.legendActiveIcon {
    width: 3%;
    height: 18px;
    background: #49a942
}
.legendActiveText {
    padding: 3px 15px 5px 7px;
}
.legendInActiveIcon {
    width: 3%;
    height: 18px;
    background: #808080
}
.legendInActiveText {
    padding: 3px 10px 5px 7px;
}
.legendErrorIconWrapper {
    width: 3%;
    height: 19px;
}
.legendEditText {
    padding: 3px 10px 5px 11px;
}
.legendDelWrapper {
    width: 3%;
    height: 19px;
}
.legendDelTextStyle {
    padding: 3px 15px 5px 7px;
}
.issueCodeTextWrapper {
    width: 17%;
}
.descTextWrapper {
    width: 66%;
}
.issueCodeValidate {
    font-weight: normal; 
    font-size: 11px;
}
.issueDescValidate {
    font-weight: normal;
    font-size: 11px
}
.issueDescString {
    float: left;
    padding: 10px 0 0px 27px;
    color: red;
}
.marginLeft-10 {
    margin-left: -10px;
}
.marginLeft10 {
    margin-left: 10px;
}
.issueCodeString {
    float: left;
    padding: 10px 0 0px 10px;
    color: red;
}
.warningStyle {
    width: 3%;
    height: 19px;
}
.addBtnStyle {
    width: 4%;
    padding-top: 2px;
}
.exportWrapper {
    width: 6%;
    padding-left: 5%;
    height: 60%;
}
.screenTitleStyle {
    width: 25%;
    padding-left: 15px;
    padding-top: 10px;
}
.updatedByTextWrapper {
    width: 75%;
    padding: 10px 20px 0 20%;
}
.alignRight {
    text-align: right;
}
.issueCodeTextStyle {
    width: 17%;
    text-align: left;
    padding-left: 5px;
}
.issueDescTextStyle {
    width: 66%;
    text-align: left;
    padding-left: 20px;
}
.addCodeWrapper {
    width: 98%;
    background: #ffffff;
    margin: auto;
    text-align: center;
    height: auto;
    padding: 10px 10px 12px 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.editCodeGrid {
    width: 98%;
    background: #ffffff;
    margin: auto;
    margin-top: 12px;
    height: auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.delTooltip {
    position: relative;
    display: inline-block;
}
.delTooltip .delTooltiptext {
    visibility: hidden;
    max-width: 70px;
    background-color: black;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    text-align: center;
    border-radius: 4px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 85%;
    left: 100%;
    margin-left: -62px;
}
.delTooltip .delTooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 66%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}
.delTooltip:hover .delTooltiptext {
    visibility: visible;
}
.statusTooltip {
    position: relative;
    display: inline-block;
}
.statusTooltip .statusTooltiptext {
    visibility: hidden;
    max-width: 110px;
    background-color: black;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    text-align: center;
    border-radius: 4px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 85%;
    left: 80%;
    margin-left: -60px;
}
.statusTooltip .statusTooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}
.statusTooltip:hover .statusTooltiptext {
    visibility: visible;
}

.exportTooltip {
    margin: 0px;
    position: relative;
    display: inline-block;
}
.exportTooltip .exportTooltiptext {
    visibility: hidden;
    width: 150px;
    max-width: 150px;
    background-color: black;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    text-align: center;
    border-radius: 4px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 110%;
    left: 0%;
    margin-left: -60px;
}
.exportTooltip .exportTooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}
.exportTooltip:hover .exportTooltiptext {
    visibility: visible;
}
div#popup {
    background-color: #ddd;
    margin-top: 40px;
    padding: 0 20px 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.green {
    background-color: #ded;
    padding: 4px 8px;
}
.width30 {
    width: 30px;
    max-width: 30px;
}
.width80 {
    width: 80px;
    max-width: 80px;
}
.width90 {
    width: 90px;
    max-width: 90px;
}
.width110 {
    width: 110px;
    max-width: 110px;
}
.width120 {
    width: 120px;
    max-width: 120px;
}
.width135 {
    width: 135px;
    max-width: 135px;
}
.width145 {
    width: 145px;
    max-width: 145px;
}
.width370 {
    width: 370px;
    max-width: 370px;
}
.switchWrapper {
    display: -webkit-box;
    display: -moz-box; 
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 110px;
    max-width: 110px;
}
.adminPopupOk {
    height: 30px;
    background: #5cb85c;
    border: 1px solid #4cae4c;
    color: #fff;
    border-radius: 4px;
    margin-right: 3px;
}
.adminPopupOk:hover {
    height: 30px;
    background: #1c831f;
    border: 1px solid #1c831f;
    color: #fff;
    border-radius: 4px;
    margin-right: 3px;
}
.adminPopupCancel{
    height: 30px;
    background: #d43f3a;
    border: 1px solid #c32f2a;
    color: #fff;
    border-radius: 4px;
    margin-right: 3px;
}
.adminPopupCancel:hover {
    height: 30px;
    background: #b32b27;
    border: 1px solid #b32b27;
    color: #fff;
    border-radius: 4px;
    margin-right: 3px;
}

.input[name="issueCode"], .input[name="issueDescription"] {
    font-size: 12px;
}
.paddingCol {
    padding: 8px 0 0 7px;
}
.paddingLeft-7 {
    padding-left: 7px;
}
.tableAdmin > td {
    text-align: left;
}
.tableAdmin td {
    padding-bottom: 0px;
}
.dialogContent {
    font-size: 15px;
    text-align: center;
}
.warningIcon {
    font-size: 25;
    color: #fb9914;
}
.delText {
    font-size: 15px;
    padding: 5px 0 0 20px;
}
/* Material Styles */
.infoLegendStyle {
    font-size: 25px !important;
    color: #0033FF;
    margin: -3px 0 0px 0px;
}
.deleteLegendStyle {
    font-size: 25px !important;
    color: red;
    margin: -3px 0 0px 0px;
}
.infoIconStyle {
    font-size: 25px !important;
    color: #0033FF;
    margin: 7px 12px 0 7px;
    cursor: pointer;
}
.delIconStyle {
    font-size: 25px !important;
    color: red;
    margin: 7px 5px 0 0;
    cursor: pointer;
}
.warningIconStyle {
    font-size: 25px !important;
    color: #fb9914;
} 